In [31]:
import matplotlib.pyplot as plt
import joblib
import matplotlib
matplotlib.use('Agg')
import pandas as pd
from sklearn.model_selection import train_test_split

In [19]:
df=pd.read_csv("salary_data.csv")

In [20]:
df.head(2)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0

In [21]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [22]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Salary']=df['Salary'].fillna(df['Salary'].mean())
df.dropna(subset=['Years of Experience'],inplace=True)
df.dropna(subset=['Education Level'],inplace=True)

In [23]:
df.shape

(6700, 6)

In [24]:
df['Education Level'].value_counts()

Education Level
Bachelor's Degree    2266
Master's Degree      1573
PhD                  1368
Bachelor's            756
High School           448
Master's              288
phD                     1
Name: count, dtype: int64

In [25]:
df['Education Level']=df['Education Level'].replace({'phD':'PHD'})
df['Education Level']=df['Education Level'].replace({'PhD':'PHD'})
df['Education Level']=df['Education Level'].replace({"Bachelor's":"Bachelor's Degree"})
df['Education Level']=df['Education Level'].replace({"Master's":"Master's Degree"})

In [26]:
from sklearn.preprocessing import LabelEncoder

label_encoder=LabelEncoder()

df['Gender']=label_encoder.fit_transform(df['Gender'])
print(label_encoder.classes_)

df['Education Level']=label_encoder.fit_transform(df['Education Level'])
print(label_encoder.classes_)

['Female' 'Male' 'Other']
["Bachelor's Degree" 'High School' "Master's Degree" 'PHD']
['Account Manager' 'Accountant' 'Administrative Assistant'
 'Back end Developer' 'Business Analyst' 'Business Development Manager'
 'Business Intelligence Analyst' 'CEO' 'Chief Data Officer'
 'Chief Technology Officer' 'Content Marketing Manager' 'Copywriter'
 'Creative Director' 'Customer Service Manager' 'Customer Service Rep'
 'Customer Service Representative' 'Customer Success Manager'
 'Customer Success Rep' 'Data Analyst' 'Data Entry Clerk' 'Data Scientist'
 'Delivery Driver' 'Digital Content Producer' 'Digital Marketing Manager'
 'Digital Marketing Specialist' 'Director'
 'Director of Business Development' 'Director of Data Science'
 'Director of Engineering' 'Director of Finance' 'Director of HR'
 'Director of Human Capital' 'Director of Human Resources'
 'Director of Marketing' 'Director of Operations'
 'Director of Product Management' 'Director of Sales'
 'Director of Sales and Marketing' 'Event Coordinator' 'Financial Advisor'
 'Financial Analyst' 'Financial Manager' 'Front End Developer'
 'Front end Developer' 'Full Stack Engineer' 'Graphic Designer'
 'HR Generalist' 'HR Manager' 'Help Desk Analyst'
 'Human Resources Coordinator' 'Human Resources Director'
 'Human Resources Manager' 'IT Manager' 'IT Support'
 'IT Support Specialist' 'Junior Account Manager' 'Junior Accountant'
 'Junior Advertising Coordinator' 'Junior Business Analyst'
 'Junior Business Development Associate'
 'Junior Business Operations Analyst' 'Junior Copywriter'
 'Junior Customer Support Specialist' 'Junior Data Analyst'
 'Junior Data Scientist' 'Junior Designer' 'Junior Developer'
 'Junior Financial Advisor' 'Junior Financial Analyst'
 'Junior HR Coordinator' 'Junior HR Generalist' 'Junior Marketing Analyst'
 'Junior Marketing Coordinator' 'Junior Marketing Manager'
 'Junior Marketing Specialist' 'Junior Operations Analyst'
 'Junior Operations Coordinator' 'Junior Operations Manager'
 'Junior Product Manager' 'Junior Project Manager' 'Junior Recruiter'
 'Junior Research Scientist' 'Junior Sales Associate'
 'Junior Sales Representative' 'Junior Social Media Manager'
 'Junior Social Media Specialist' 'Junior Software Developer'
 'Junior Software Engineer' 'Junior UX Designer' 'Junior Web Designer'
 'Junior Web Developer' 'Juniour HR Coordinator' 'Juniour HR Generalist'
 'Marketing Analyst' 'Marketing Coordinator' 'Marketing Director'
 'Marketing Manager' 'Marketing Specialist' 'Network Engineer'
 'Office Manager' 'Operations Analyst' 'Operations Director'
 'Operations Manager' 'Principal Engineer' 'Principal Scientist'
 'Product Designer' 'Product Manager' 'Product Marketing Manager'
 'Project Engineer' 'Project Manager' 'Public Relations Manager'
 'Receptionist' 'Recruiter' 'Research Director' 'Research Scientist'
 'Sales Associate' 'Sales Director' 'Sales Executive' 'Sales Manager'
 'Sales Operations Manager' 'Sales Representative'
 'Senior Account Executive' 'Senior Account Manager' 'Senior Accountant'
 'Senior Business Analyst' 'Senior Business Development Manager'
 'Senior Consultant' 'Senior Data Analyst' 'Senior Data Engineer'
 'Senior Data Scientist' 'Senior Engineer' 'Senior Financial Advisor'
 'Senior Financial Analyst' 'Senior Financial Manager'
 'Senior Graphic Designer' 'Senior HR Generalist' 'Senior HR Manager'
 'Senior HR Specialist' 'Senior Human Resources Coordinator'
 'Senior Human Resources Manager' 'Senior Human Resources Specialist'
 'Senior IT Consultant' 'Senior IT Project Manager'
 'Senior IT Support Specialist' 'Senior Manager'
 'Senior Marketing Analyst' 'Senior Marketing Coordinator'
 'Senior Marketing Director' 'Senior Marketing Manager'
 'Senior Marketing Specialist' 'Senior Operations Analyst'
 'Senior Operations Coordinator' 'Senior Operations Manager'
 'Senior Product Designer' 'Senior Product Development Manager'
 'Senior Product Manager' 'Senior Product Marketing Manager'
 'Senior Project Coordinator' 'Senior Project Engineer'
 'Senior Project Manager' 'Senior Quality Assurance Analyst'
 'Senior Research Scientist' 'Senior Researcher' 'Senior Sales Manager'
 'Senior Sales Representative' 'Senior Scientist'
 'Senior Software Architect' 'Senior Software Developer'
 'Senior Software Engineer' 'Senior Training Specialist'
 'Senior UX Designer' 'Social Media Man' 'Social Media Manager'
 'Social Media Specialist' 'Software Developer' 'Software Engineer'
 'Software Engineer Manager' 'Software Manager' 'Software Project Manager'
 'Strategy Consultant' 'Supply Chain Analyst' 'Supply Chain Manager'
 'Technical Recruiter' 'Technical Support Specialist' 'Technical Writer'
 'Training Specialist' 'UX Designer' 'UX Researcher' 'VP of Finance'
 'VP of Operations' 'Web Developer']

In [27]:
df=df.drop("Job Title",axis=1)

In [28]:
df.head(1)

    Age  Gender  Education Level  Years of Experience   Salary
0  32.0       1                0                  5.0  90000.0

In [29]:
from sklearn.linear_model import LinearRegression

features=['Age','Gender','Education Level','Years of Experience']
X=df[features]
y=df['Salary']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
model=LinearRegression()
model.fit(X_train,y_train)
print("\nModel training complete: ")

print(f"Coefficient (w1): {model.coef_[0]}")
print(f"Intercept (b): {model.intercept_}")

Model training complete:
Coefficient (w1): -2040.6865503664976
Intercept (b): 102057.1392643619

In [30]:
from sklearn.metrics import mean_squared_error,r2_score
from sklearn import metrics

y_pred=model.predict(X_test)

mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

print(f"Mean Absolute error: ",metrics.mean_absolute_error(y_test,model.predict(X_test)))
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Mean Absolute error:  23660.816072926085
Mean Squared Error (MSE): 912000184.38
R-squared (R2): 0.67

In [32]:
joblib.dump(model,'salary_prediction.pkl')

['salary_prediction.pkl']

In [33]:
joblib.dump(label_encoder,'salary_encoder.pkl')

['salary_encoder.pkl']