In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [20]:
df=pd.read_csv("employee.csv")

In [21]:
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [22]:
# from sklearn.preprocessing import LabelEncoder

# label_encoder = LabelEncoder()

# df['BusinessTravel']=label_encoder.fit_transform(df['BusinessTravel'])
# print(label_encoder.classes_)

# df['Department']=label_encoder.fit_transform(df['Department'])
# print(label_encoder.classes_)

# df['EducationField']=label_encoder.fit_transform(df['EducationField'])
# print(label_encoder.classes_)

# df['Gender']=label_encoder.fit_transform(df['Gender'])
# print(label_encoder.classes_)

# df['JobRole']=label_encoder.fit_transform(df['JobRole'])
# print(label_encoder.classes_)

# df['MaritalStatus']=label_encoder.fit_transform(df['MaritalStatus'])
# print(label_encoder.classes_)

# df['OverTime']=label_encoder.fit_transform(df['OverTime'])
# print(label_encoder.classes_)

# df['Attrition']=label_encoder.fit_transform(df['Attrition'])
# print(label_encoder.classes_)

In [23]:
# In your training script (before saving)
from sklearn.preprocessing import LabelEncoder

# Create separate label encoders for each column
label_encoders = {
    'BusinessTravel': LabelEncoder().fit(df['BusinessTravel']),
    'Department': LabelEncoder().fit(df['Department']),
    'EducationField': LabelEncoder().fit(df['EducationField']),
    'Gender': LabelEncoder().fit(df['Gender']),
    'JobRole': LabelEncoder().fit(df['JobRole']),
    'MaritalStatus': LabelEncoder().fit(df['MaritalStatus']),
    'OverTime': LabelEncoder().fit(df['OverTime'])
}

# Apply transformations
df['BusinessTravel'] = label_encoders['BusinessTravel'].transform(df['BusinessTravel'])
df['Department'] = label_encoders['Department'].transform(df['Department'])
df['EducationField'] = label_encoders['EducationField'].transform(df['EducationField'])
df['Gender'] = label_encoders['Gender'].transform(df['Gender'])
df['JobRole'] = label_encoders['JobRole'].transform(df['JobRole'])
df['MaritalStatus'] = label_encoders['MaritalStatus'].transform(df['MaritalStatus'])
df['OverTime'] = label_encoders['OverTime'].transform(df['OverTime'])

# Save the label encoders
joblib.dump(label_encoders, 'label_encoders.pkl')

['label_encoders.pkl']

In [24]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
df.drop('Over18',axis=1,inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int64
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int64
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int64
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int64
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  OverTime                  1470 non-null   int64
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1470 non-null   int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1470 non-null   int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(33), object(1)
memory usage: 390.6+ KB
None

In [27]:
features=['Age','BusinessTravel','DailyRate','Department','DistanceFromHome','Education','EducationField','EmployeeCount','EmployeeNumber','EnvironmentSatisfaction','Gender','HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','MonthlyRate','NumCompaniesWorked','OverTime','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']
x=df[features]
y=df[['Attrition']]

print(x)
print(y)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

      Age  BusinessTravel  DailyRate  Department  DistanceFromHome  Education  \
0      41               2       1102           2                 1          2
1      49               1        279           1                 8          1
2      37               2       1373           1                 2          2
3      33               1       1392           1                 3          4
4      27               2        591           1                 2          1
...   ...             ...        ...         ...               ...        ...
1465   36               1        884           1                23          2
1466   39               2        613           1                 6          1
1467   27               2        155           1                 4          3
1468   49               1       1023           2                 2          3
1469   34               2        628           1                 8          3

      EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  \
0                  1              1               1                        2
1                  1              1               2                        3
2                  4              1               4                        4
3                  1              1               5                        4
4                  3              1               7                        1
...              ...            ...             ...                      ...
1465               3              1            2061                        3
1466               3              1            2062                        4
1467               1              1            2064                        2
1468               3              1            2065                        4
1469               3              1            2068                        2

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0     ...                         1             80                 0
1     ...                         4             80                 1
2     ...                         2             80                 0
3     ...                         3             80                 0
4     ...                         4             80                 1
...   ...                       ...            ...               ...
1465  ...                         3             80                 1
1466  ...                         1             80                 1
1467  ...                         2             80                 1
1468  ...                         4             80                 0
1469  ...                         1             80                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
...                 ...                    ...              ...
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
...              ...                 ...                      ...
1465               5                   2                        0
1466               7                   7                        1
1467               6                   2                        0
1468               9                   6                        0
1469               4                   3                        1

      YearsWithCurrManager
0                        5
1                        7
2                        0
3                        0
4                        2
...                    ...
1465                     3
1466                     7
1467                     3
1468                     8
1469                     2

[1470 rows x 33 columns]
     Attrition
0          Yes
1           No
2          Yes
3           No
4           No
...        ...
1465        No
1466        No
1467        No
1468        No
1469        No

[1470 rows x 1 columns]

In [28]:
model=LogisticRegression(solver='liblinear',max_iter=1000)
model.fit(x_train,y_train)
print("Model training complete")

Model training complete

d:\TechAxis\week56\venv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
y_pred=model.predict(x_test)

In [30]:
#Accuracy
acc=accuracy_score(y_test,y_pred)
print(f"\nAccuracy: {acc:.2f}")

#Detailed classification report 
print("\nClassification Report: ")
print(classification_report(y_test,y_pred))

Accuracy: 0.88

Classification Report:
              precision    recall  f1-score   support

          No       0.89      0.99      0.94       255
         Yes       0.78      0.18      0.29        39

    accuracy                           0.88       294
   macro avg       0.83      0.59      0.61       294
weighted avg       0.87      0.88      0.85       294

In [31]:
#'Age','BusinessTravel','DailyRate','Department','DistanceFromHome','Education','EducationField','EmployeeCount','EmployeeNumber','EnvironmentSatisfaction','Gender',
#'HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','MonthlyRate','NumCompaniesWorked','OverTime',
#'PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear',
# 'WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'

Outcome=model.predict([[20,0,500,3,14,1,3,1,15,4,1,10,3,1,4,0,4670,5000,1,1,10,3,2,70,3,1,3,2,1,1,0,1,1]])
print(Outcome)

['Yes']

d:\TechAxis\week56\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(